{% extends "layout.html" %}

{% block content %}


<nav class="navbar navbar-fixed-top navbar-color-on-scroll navbar-transparent">
	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" >MileMate<div class="ripple-container"></div></a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example" style = "height:50px">
        		<ul class="nav navbar-nav navbar-right">
					<div class="login">

					<form name = "deform" action="LoginServlet"  method="post" class="form">

    				<div class="col-sm-4">
	                	<div class="form-group is-empty">
	        	        	<input type="email" value="" name = "email" placeholder="E-Mail" class="form-control">
	                	<span class="material-input"></span></div>
	                </div>

					<div class="col-sm-4">
	                	<div class="form-group is-empty">
	        	        	<input type="password" value="" name="wachtwoord" placeholder="Password" class="form-control">
	                	<span class="material-input"></span></div>
	                </div>

    				</div>
					<div style = "height:77px; display: table-cell;
    vertical-align: middle;">
					<input class="btn btn-white" type="submit" value = "Login" style = "vertical-align: middle;"></a>
						</form>



	                     </div>

		           </div>
					</ul>
        	</div>
    	</div>
	</nav>
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">
            <div class="container">
                <div class="row">
					<div class="col-md-6">
						<h1 class="title">MileMate</h1>
	                    <h4>Business travel done smart.</h4>
	                    <br />

					</div>
                </div>
            </div>
        </div>

		<div class="main main-raised">
			<div class="container">
		    	<div class="section text-center section-landing">
	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">Welcome</h2>
	                        <h5 class="description">Automate your business driving experience. </h5>
	                    </div>
	                </div>

					<div class="features">
						<div class="row">
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-primary">
										<i class="material-icons">navigation</i>
									</div>
									<h4 class="info-title">Plan</h4>
									<p>Carefully plan your business trips using the most familiar navigation tool on the internet. </p>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-success">
										<i class="material-icons">schedule</i>
									</div>
									<h4 class="info-title">Save</h4>
									<p>Save your trips in a personalized calender, after entering your data once the website will keep track of your milage. Feel free to open modify your calender at any time.</p>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-danger">
										<i class="material-icons">work</i>
									</div>
									<h4 class="info-title">Deliver</h4>
									<p>After you're done filling your agenda, head over to the data section to view meaningful summaries that can directly be used in your administration.  </p>
								</div>
		                    </div>
		                </div>
					</div>
	            </div>

	        	<div class="section text-center">
				<form action = "sign_up.html">
	                <button type = "submit" class="btn btn-success" >Sign Up</button>
	            </div>


	  <footer class="footer">
	        <div class="container">
	            <nav class="pull-left">
	                <ul>
	                    <li>
	                        <a >
	                            MileMate
	                        </a>
	                    </li>
						<li>
	                        <a >
	                           About Us
	                        </a>
	                    </li>
	                    <li>
	                        <a >
	                           Blog
	                        </a>
	                    </li>
	                    <li>
	                        <a >
	                            Licenses
	                        </a>
	                    </li>
	                </ul>
	            </nav>
	            <div class="copyright pull-right">
	                &copy; 2017, made by Tim Hoogeland
	            </div>
	        </div>
	    </footer>
	</div>


	

{% endblock %}
